@media screen and (min-width: 1024px){
    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(0, 0, 0, 0.753);
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}

form, input, button{
    padding: 4px;
}

h1{
    color: rgb(127, 255, 212);
}

button{
    background-color: rgb(127, 255, 212);
    border-color: rgb(127, 255, 212);
    cursor: pointer;
}

.conteudo{
    display: grid;
    grid-template-columns: 100%;
}

.title-sobre{
    margin-top: 8px;
    margin-bottom: 8px;
}

.article-sobre{
    display: flex;
    margin-bottom: 8px;
}

.p-sobre{
    font-size: 1.5em;
    margin-left: 8px;
}


footer{
    background-color: rgba(0, 0, 0, 0.753);
}

.rodape{
    align-items: center;
    text-align: center;
    color: rgb(127, 255, 212);
    padding: 8px 0px;
}

}